{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="card bg-base-100 shadow-lg">
  <div class="card-body">
    <h2 class="text-xl font-bold mb-2 text-center">PHI Login</h2>
    <form method="POST">
      <div class="form-control">
        <label for="username" class="label">Username</label>
        <input type="text" name="username" id="username" class="input input-bordered" required>
      </div>
      <div class="form-control mt-4">
        <label for="password" class="label">Password</label>
        <input type="password" name="password" id="password" class="input input-bordered" required>
      </div>
      <div class="form-control mt-6">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
